@model AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels.RSSModel
@{
    Layout = null;
}

@using AlwaysMoveForward.AnotherBlog.Web;
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

    @foreach (Blog blogItem in Model.BlogEntries.Keys)
    {
        <title>@MvcApplication.SiteInfo.Name - @blogItem.SubFolder Feed</title>
        <link href="http://@Request.Url.Authority/@blogItem.SubFolder/Blog/Index"/>
        <updated>@Model.MostRecentPosts[blogItem].ToShortDateString() @Model.MostRecentPosts[blogItem].ToShortTimeString()</updated>
        <id>urn:@Request.Url.Authority/@blogItem.SubFolder</id>
        @foreach (BlogPost blogEntry in Model.BlogEntries[blogItem])
         {   
            <entry>
            <title>@blogEntry.Title</title>
            <link href="@Request.Url.Scheme://@Request.Url.Authority@Utils.GenerateBlogEntryLink(blogEntry.Blog.SubFolder, blogEntry, false)"/>
            <id>urn:@Request.Url.Scheme://@Request.Url.Authority@Utils.GenerateBlogEntryLink(blogEntry.Blog.SubFolder, blogEntry, false)</id>
            <author>
                <name>@blogEntry.Author.UserName</name>
            </author>
            <updated>@blogEntry.DatePosted</updated>
            <summary>@blogEntry.ShortEntryText</summary>
            </entry>
        }
    }
</feed>

