@using AlwaysMoveForward.AnotherBlog.Web
@using AlwaysMoveForward.AnotherBlog.Web.Models
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities
@using AlwaysMoveForward.AnotherBlog.Web.Code.Extensions
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel
@inject IHtmlHelper _Html;
@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section headerPlugins
{
    @RenderSection("headerPlugins", false)
}
<div class="mainContentPanel">
	<div class="bodyContainer">
        @RenderBody()
    </div>
	<br />
    <div class="footer">
    	<br />
        <div class="footerCopyright">Copyright &copy; @DateTime.Now.Year.ToString() @WebApplicationState.SiteInfo.Name v @WebApplicationState.Version</div>
        <div class="footerAbout"><a href='/@ViewBag.BlogCommon.TargetBlog.SubFolder/Home/About'>About @WebApplicationState.SiteInfo.Name</a></div>
	</div>
</div>
<div class="metaContentPanel">   
    <div id="blogListSection">
        <partial name="../Blog/BlogSelectionControl" model="ViewBag.BlogCommon.Common.BlogList as IDictionary<int, AlwaysMoveForward.AnotherBlog.Common.DomainModel.Blog>" />
	</div>
    <div id="blogCalendarSection">
	    @{ViewBag.BlogCommon.Common.Calendar.RouteInformation = "/Home/Index";}
        <partial name="_CalendarControl" model="(AlwaysMoveForward.AnotherBlog.Web.Models.CalendarModel)ViewBag.BlogCommon.Common.Calendar" />
    </div>
	<div id="mostViewed">
        <partial name="_ListControl" model="(AlwaysMoveForward.AnotherBlog.Web.Models.API.ListControlModel)ViewBag.BlogCommon.Common.MostViewedPosts"/>
    </div>                     
    <div id="blogTagsSection">
        <partial name="_TagControl" model="(AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels.CommonBlogModel)ViewBag.BlogCommon"/>
	</div>        
    <div>
        <partial name="_SyndicationControl" model="ViewBag.BlogCommon.TargetBlog.SubFolder" />
    </div>  
    <div>
        <partial name="_BlogListsControl"/>
    </div>
	<div id="blogArchiveSection">
        _Html.Partial("_ArchiveControl", (AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels.CommonBlogModel)ViewBag.BlogCommon)
	</div>      
	<div id="googlePluginSection">
		@{
            IDictionary<string, string> googleAdParams= new Dictionary<string, string>();
            googleAdParams.Add("adClient", "pub-3066200824463272");
            googleAdParams.Add("adSlot", "5638996162");
            googleAdParams.Add("adWidth", "120");
            googleAdParams.Add("adHeight", "600");
            _Html.RenderPartial("../Plugins/GoogleAdControl", (IDictionary<string, string>)googleAdParams);     
        } 
	</div>   
</div>   
