@model AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels.BlogModel
           
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;
@using AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = AlwaysMoveForward.AnotherBlog.Web.MvcApplication.SiteInfo.Name + " - " + Model.BlogCommon.TargetBlog.Name;
    ViewBag.Description = Model.BlogCommon.TargetBlog.Description;
    ViewBag.Common = Model.BlogCommon.Common;
    ViewBag.BlogCommon = Model.BlogCommon;
}
<div class="bodyContent">        
    <div class="contentPageTitle">
        <label>@Model.BlogCommon.Common.ContentTitle</label>
    </div> 
    <div>
        @if (Model.BlogCommon.TargetBlog != null)
        {
            if (Model.BlogEntries.Count > 0)
            {
                foreach (BlogPostModel blogPost in Model.BlogEntries)
                { 
                    <div class="blogEntrySection">
                        <div class="blogTitleSection">
                            <div class="blogTitle">
                                <div class="blogTitleLink">
                                    <a href="@Utils.GenerateBlogEntryLink(@Model.BlogCommon.TargetBlog.SubFolder, blogPost.Post, false)">@blogPost.Post.Title</a>
                                </div>
                            </div>
                            <div class="blogSubTitle">posted @blogPost.Post.DatePosted.ToShortDateString() by @blogPost.Author.GetDisplayName() | @blogPost.Post.CommentCount comments</div>
                        </div>
                        <div class="blogText">@blogPost.Post.ShortEntryText<br /> <a href="@Utils.GenerateBlogEntryLink(@Model.BlogCommon.TargetBlog.SubFolder, blogPost.Post, false)">full article</a></div>
                    </div>
                    <br />
                }
                <br />
                <div class="pager">
                    @Html.Pager(Model.BlogEntries.PageSize, Model.BlogEntries.PageNumber, Model.BlogEntries.TotalItemCount, "Index", null)
                </div>
            }
            else
            {
                <div class="blogText">There are no entries for this blog.</div>                  
            } 
        }
    </div>
</div>

