@using AlwaysMoveForward.AnotherBlog.Web
@using AlwaysMoveForward.AnotherBlog.Web.Models
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities
@using AlwaysMoveForward.AnotherBlog.Web.Code.Extensions
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel

@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section headerPlugins
{
    <script src="@Url.Content("~/Scripts/Controllers/ListController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controllers/BlogController.js")" type="text/javascript"></script>
    @RenderSection("headerPlugins", false)
}
<div class="mainContentPanel">
	<div class="bodyContainer">
        @RenderBody()
    </div>
	<br />
    <div class="footer">
    	<br />
	    <div class="footerCopyright">Copyright &copy; @DateTime.Now.Year.ToString() @MvcApplication.SiteInfo.Name v @MvcApplication.Version</div>
	    <div class="footerAbout"><a href='/Home/About'>About @MvcApplication.SiteInfo.Name</a></div>
	</div>
</div>
<div class="metaContentPanel">   
    @Html.Partial("_BlogSelectionControl")
    <div id="blogCalendarSection">
	    @Html.Partial("_CalendarControl", (AlwaysMoveForward.AnotherBlog.Web.Models.CalendarModel)ViewBag.Common.Calendar)
    </div>
	<div id="mostViewed" ng-controller="ListController">
        <div class="contentSection" ng-init="getMostViewedPosts('@ViewBag.BlogSubFolder');">
            <div class="contentSectionTitle">
                <label>{{ mostViewedPosts.Title }}</label>
            </div> 
            <div class="contentSectionBody">
                <ol class="contentSectionList">
                    <li class="listItem" ng-repeat="listItem in mostViewedPosts.ListItems">
                        <a href="{{ listItem.RelatedLink }}">{{ listItem.Name }}</a>
                    </li>
                </ol>
            </div>
        </div>    
    </div>                     
    @if(ViewBag.BlogSubFolder!=null && !string.IsNullOrEmpty(ViewBag.BlogSubFolder))
    {
        @Html.Partial("_TagControl")        
        @Html.Partial("_BlogListsControl")
        @Html.Partial("_ArchiveControl")
    }
    <div>
        @Html.Partial("_SyndicationControl", String.Empty)
    </div>            
</div>
