@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.BusinessLayer.Utilities;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminToolLayout.cshtml";
}
@section headerPlugins
{
    @RenderSection("headerPlugins", false)
}
<div class='adminLinkSection'>
    <span>
        @if(ViewBag.AllowBlogChange == false)
        {
            <label>@ViewBag.Common.TargetBlog.SubFolder</label>
        }
        else
        {
            <select id="targetBlog" name="targetBlog" onchange="AdminCommon.HandleBlogSelectionChange();">
            @foreach (Blog blogItem in ViewBag.Common.UserBlogs)
            { 
                <option id="@blogItem.Id" name="@blogItem.SubFolder" value="@blogItem.SubFolder" @if (blogItem.Id == ViewBag.Common.TargetBlog.Id)
                                                                                            {<text> selected </text>}>@blogItem.Name</option>
            }            
            </select>
        }
        @{
            SecurityPrincipal currentPrincipal = HttpContext.Current.User as SecurityPrincipal;
        }
        @if (currentPrincipal.IsInRole(RoleType.Names.Administrator) == true || currentPrincipal.IsInRole(RoleType.Names.Blogger) == true)
        {
            <text><a href='/Admin/ManageBlog/Preferences'> Blog Settings</a> | </text>
            <text><a href='/Admin/ManageLists/Index'> Manage Lists</a> | </text>
        } 
        @if (currentPrincipal.IsInRole(RoleType.Names.Administrator) == true ||
            currentPrincipal.IsInRole(RoleType.Names.Blogger) ||
            currentPrincipal.IsInRole(RoleType.Names.SiteAdministrator) == true)
        { 
            <text><a href='/Admin/ManageBlog/ManagePosts'> Manage Posts</a> |  </text>
            <text><a href='/Admin/ManageBlog/ManageComments'> Administer Comments</a></text>
        }                
    </span>
</div>
<div class="contentPanel">
    @RenderBody()
</div>
