@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Extensions;
@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.ManageBlogModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_BlogLayout.cshtml";
    ViewBag.Common = Model.Common;
 }
 @section headerPlugins
 {
    <script src="@Url.Content("~/Scripts/Controllers/ManageBlogController.js")" type="text/javascript"></script>
 }
<form id="changeBlogForm" action="/Admin/ManageBlog/ManageComments/">
</form>
<form id="saveForm" action="/Admin/ManageBlog/ManageComments/">
    <input type="hidden" id="performSave" name="performSave" value="true" />
</form>
<div class="bodyContent" ng-controller="ManageBlogController">        
    <div class="contentPageTitle">
        <label>Manage Comments</label>
    </div> 
    <div style="width:100%;text-align:right">
        <select id="commentFilter" name="commentFilter">
            @Html.FilterOption("All", @Model.CommentFilter);
            @Html.FilterOption("Unapproved", @Model.CommentFilter);
            @Html.FilterOption("Approved", @Model.CommentFilter);
            @Html.FilterOption("Deleted", @Model.CommentFilter);
        </select>        
        <input type="button" value="refresh" ng-click="getComments();"/>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="20%">comment</th>
                    <th width="20%">author</th>
                    <th width="10%">date</th>
                    <th width="15%">status</th>
                    <th width="15%">action</th>
                </tr>
            </thead>
            <tbody ng-init="getComments();">
                <tr ng-repeat="blogComment in blogComments">
                    <td width="20%">{{ blogComment.Text }}</td>
                    <td width="20%">{{ blogComment.AuthorName - blogComment.AuthorEmail  }}</td>
                    <td width="10%">{{ blogComment.DefaultDateStringFormat  }}</td>
                    <td width="15%">{{ blogComment.StatusText }}</td>
                    <td width="15%">
                        <a href="/Admin/ManageBlog/ApproveComment/@Model.Common.TargetBlog.SubFolder/{{blogComment.BlogPostId}}/{{ blogComment.CommentId }}"><img src="/Content/images/action_check.png" class="approveComment" alt="" /></a>
                        <a href="/Admin/ManageBlog/DeleteComment/@Model.Common.TargetBlog.SubFolder/{{blogComment.BlogPostId}}/{{ blogComment.CommentId }}"><img src="/Content/images/action_delete.png" class="deleteComment" alt="" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

