@using PucksAndProgramming.AnotherBlog.Common.DomainModel;
@using PucksAndProgramming.AnotherBlog.Web.Code.Extensions;
@using PucksAndProgramming.AnotherBlog.Web.Code.Utilities;
@model PucksAndProgramming.AnotherBlog.Web.Areas.Admin.Models.ManageBlogModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_BlogLayout.cshtml";
    ViewBag.Common = Model.Common;
    ViewBag.CurrentAction = "Preferences";
}

@section headerPlugins
{
    <script src="/Scripts/Controllers/BlogController.js" type="text/javascript"></script>
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            plugins: "link",
            selector: 'textarea',
            menubar: "format insert edit",
            toolbar: "alignleft aligncenter alignright alignjustify fontsizeselect bullist numlist outdent indent blockquote undo redo link",
            setup: function (editor) {
                editor.on('blur', function (e) {
                    tinyMCE.triggerSave();
                });
            }
        });
    </script>
}
<form id="changeBlogForm" action="/Admin/ManageBlog/Preferences/">

</form>

<div class="bodyContent" ng-controller="BlogController">
    <div class="panel panel-default">
        <div class="panel-header">Edit Blog Settings: @Model.Common.TargetBlog.Name</div>
        <br />
        <div class="panel-body">
            @if (ViewData.ModelState.IsValid == false)
            {
                <div class="alert alert-danger">
                    @Html.ValidationMessage("userName")
                    <br />
                    @Html.ValidationMessage("email")
                    <br />
                    @Html.ValidationMessage("displayName")
                    <br />
                </div>
            }
            <form id="saveBlogForm" class="form-vertical" action="/Admin/ManageBlog/Preferences/" method="post">
                <input type="hidden" name="blogId" id="blogId" value="@Model.Common.TargetBlog.Id" />
                <input type="hidden" name="blogName" id="blogName" value="@Model.Common.TargetBlog.Name" />
                <input type="hidden" id="blogTheme" name="blogTheme" value="@Model.Common.TargetBlog.Theme" />
                <input type="hidden" id="blogSubFolder" name="blogSubFolder" value="@Model.Common.TargetBlog.SubFolder" />
                <div>
                    <label for="blogWelcome">Welcome Message:</label>
                    <input type="text" name="blogWelcome" id="blogWelcome" value="@Model.Common.TargetBlog.WelcomeMessage" class="form-control" />
                </div>
                <div>
                    <label for="blogDescription">Description:</label>
                    <input type="text" name="blogDescription" id="blogDescription" value="@Model.Common.TargetBlog.Description" class="form-control" />
                </div>
                <div>
                    <label for="blogAbout">About:</label>
                    <textarea name="blogAbout" id="blogAbout" class="form-control">@Model.Common.TargetBlog.About</textarea>
                </div>
                <button type="button" class="btn btn-primary" id="saveButton" name="saveButton" ng-click="saveBlog()">Save Changes</button>
            </form>
        </div>
    </div>
</div>
