@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.UserModel
@using AlwaysMoveForward.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Areas/Admin/Views/Shared/_AdminToolLayout.cshtml";
}
@section headerPlugins
{
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            plugins: "link",
            selector: 'textarea',
            menubar: "format insert edit",
            toolbar: "alignleft aligncenter alignright alignjustify fontsizeselect bullist numlist outdent indent blockquote undo redo link"
        });
    </script>
    <script src="/Scripts/Admin/ManageUsers.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#saveButton").click(function () {
                $("#saveForm").submit();
            });
        
            $("#submitAddNewBlog").click(function () {
                $("#userAddBlogForm").submit();
            });
        });
    </script>
 }
<div class="bodyContent">        
    <div class="panel panel-default editAreaContainer">
        <div class="panel-header">Edit User</div>
        <br />
        <div class="panel-body">
            @if (ViewData.ModelState.IsValid == false)
            {
                <div class="alert alert-danger">
                    @Html.ValidationMessage("userName")
                    <br />
                    @Html.ValidationMessage("email")
                    <br />
                    @Html.ValidationMessage("displayName")
                    <br />
                </div>
            }
            <form id="saveForm" action="/Admin/UserManagement/Edit/@Model.CurrentUser.Id" method="post">
                <input type="hidden" name="performSave" value="true" />
                <div>
                    <span class="wideLabel">display name:</span>
                    <input type="text" name="displayName" id="displayName" value="@Model.CurrentUser.GetDisplayName()" />
                </div>
                <div>
                    <span class="wideLabel">site Administrator:</span>
                    @Html.CheckBox("isSiteAdmin", @Model.CurrentUser.IsSiteAdministrator)
                </div>
                <div>
                    <span class="wideLabel">approved Commenter:</span>
                    @Html.CheckBox("approvedCommenter", @Model.CurrentUser.ApprovedCommenter)
                </div>
                <div>
                    <span class="label">about:</span>
                    <textarea id="userAbout" name="userAbout">@Model.CurrentUser.About</textarea>
                </div>
                <br />
                <button type="button" class="btn btn-primary" id="saveButton">Save</button>
            </form>
            <div id="userBlogsContainer" name="userBlogsContainer">
                <form id="viewUserBlogs" action="/Admin/UserManagement/ManageBlogs" method="post">
                    <input type="hidden" name="userId" value="@Model.CurrentUser.Id" />
                </form>
                <script type="text/javascript">
                    ManageUsers.EditUserInitializeUserBlogs();
                </script>
            </div>
            <form id="userAddBlogForm" action="/Admin/UserManagement/AddBlog" method="post">
                <input type="hidden" name="userId" value="@Model.CurrentUser.Id"/>
                <label>Grant Access</label>
                <div>
                    <span class="label">blog:</span>
                    <select id="targetBlog" name="targetBlog">
                        @foreach (int blogKey in @Model.Blogs.Keys)
                        {
                            <option id="@Model.Blogs[blogKey].Name" name="@Model.Blogs[blogKey].Name" value="@Model.Blogs[blogKey].Id.ToString()">@Model.Blogs[blogKey].Name</option>
                        }
                    </select>
                </div>
                <div>
                    <span class="label">role:</span>
                    <select id="blogRole" name="blogRole">
                        @foreach (RoleType.Id roleId in Model.Roles.Keys)
                        {
                            <option id="@Model.Roles[roleId]" name="@Model.Roles[roleId]" value="@((System.Int32)roleId)">@Model.Roles[roleId]</option>
                        }
                    </select>
                </div>
                <br />
                <button type="button" class="btn btn-primary" id="submitAddNewBlog">Grant Blog Access</button>
            </form>
            <script type="text/javascript">
                ManageUsers.EditUserSetupUserBlogAjax();
            </script>
        </div>
    </div>
</div>