@model AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels.RSSModel
@{
    Layout = null;
}

@using AlwaysMoveForward.AnotherBlog.Web;
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;

<?xml-stylesheet type="text/xsl" href="http://@Request.Url.Authority/Content/rss2html.xsl"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:cf="http://www.microsoft.com/schemas/rss/core/2005" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" xmlns:wfw="http://wellformedweb.org/CommentAPI/">
    @foreach (Blog blogItem in Model.BlogEntries.Keys)
    {
        <channel xmlns:cfi="http://www.microsoft.com/schemas/rss/core/2005/internal" cfi:lastdownloaderror="None">
            <title cf:type="text">@MvcApplication.SiteInfo.Name - @blogItem.Name</title>
            @Html.Raw("<link>" + Model.Scheme + "://" + Model.Authority + "/" + @blogItem.SubFolder + "/Blog/Index</link>")
            <description cf:type="text"></description>
            <dc:language>en-US</dc:language>
            <generator>AnotherBlog RSS</generator>
            @foreach (BlogPost blogPost in Model.BlogEntries[blogItem])
            {
                <item>
                    <title xmlns:cf="http://www.microsoft.com/schemas/rss/core/2005" cf:type="text">@blogPost.Title</title>
                    @Html.Raw("<link>" + Model.Scheme + "://" + Model.Authority + @Utils.GenerateBlogEntryLink(blogItem.SubFolder, blogPost, false) + "</link>")
                    <pubDate>@blogPost.DatePosted</pubDate>
                    <author>@blogPost.Author.GetDisplayName()</author>
                    <description xmlns:cf="http://www.microsoft.com/schemas/rss/core/2005" cf:type="html">@Server.HtmlEncode(blogPost.ShortEntryText)</description>
                </item>
            } 
        </channel>
    }
</rss>


