@using AlwaysMoveForward.AnotherBlog.Web
@using AlwaysMoveForward.AnotherBlog.Web.Models
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities
@using AlwaysMoveForward.AnotherBlog.Web.Code.Extensions
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel

@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section headerPlugins
{
    @RenderSection("headerPlugins", false)
}
<div class="mainContentPanel">
	<div class="bodyContainer">
        @RenderBody()
    </div>
	<br />
    <div class="footer">
    	<br />
	    <div class="footerCopyright">Copyright &copy; @DateTime.Now.Year.ToString() @MvcApplication.SiteInfo.Name v @MvcApplication.Version</div>
	    <div class="footerAbout"><a href='/@ViewBag.BlogCommon.TargetBlog.SubFolder/Home/About'>About @MvcApplication.SiteInfo.Name</a></div>
	</div>
</div>
    <div class="metaContentPanel">   
        <div id="blogListSection">
	        @Html.Partial("../Blog/BlogSelectionControl", ViewBag.BlogCommon.Common.BlogList as IDictionary<int, AlwaysMoveForward.AnotherBlog.Common.DomainModel.Blog>)
	    </div>
        <div id="blogCalendarSection">
	        @{ViewBag.BlogCommon.Common.Calendar.RouteInformation = "/Home/Index";}
	        @Html.Partial("_CalendarControl", (AlwaysMoveForward.AnotherBlog.Web.Models.CalendarModel)ViewBag.BlogCommon.Common.Calendar)
        </div>
	    <div id="mostViewed">
            @Html.Partial("_ListControl", (AlwaysMoveForward.AnotherBlog.Web.Models.ListControlModel)ViewBag.BlogCommon.Common.MostViewedPosts)
        </div>                     
        <div id="blogTagsSection">
		    @Html.Partial("_TagControl", (AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels.CommonBlogModel)ViewBag.BlogCommon)
		</div>        
        <div>
            @Html.Partial("_SyndicationControl", String.Empty)
        </div>            
        @Html.Partial("_BlogListsControl")
        </div>
		<div id="blogArchiveSection">
            @Html.Partial("_ArchiveControl", (AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels.CommonBlogModel)ViewBag.BlogCommon)
		</div>      
		<div id="googlePluginSection">
		    @{
                IDictionary<string, string> googleAdParams= new Dictionary<string, string>();
                googleAdParams.Add("adClient", "pub-3066200824463272");
                googleAdParams.Add("adSlot", "5638996162");
                googleAdParams.Add("adWidth", "120");
                googleAdParams.Add("adHeight", "600");
                Html.RenderPartial("../Plugins/GoogleAdControl", (IDictionary<string, string>)googleAdParams);     
            } 
		</div>   
    </div>
</div>    
