@model PucksAndProgramming.AnotherBlog.Web.Models.RSS.RSSModel
@{
    Layout = null;
}

@using PucksAndProgramming.AnotherBlog.Web;
@using PucksAndProgramming.AnotherBlog.Common.DomainModel;
@using PucksAndProgramming.AnotherBlog.Web.Code.Utilities;

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

    @foreach (Blog blogItem in Model.BlogEntries.Keys)
    {
        <title>@MvcApplication.SiteInfo.Name - @blogItem.SubFolder Feed</title>
        @Html.Raw("<link>" + Model.Scheme + "://" + Model.Authority + "/Blog/" + @blogItem.SubFolder + "/BlogPosts</link>")
        <updated>@Model.MostRecentPosts[blogItem].ToShortDateString() @Model.MostRecentPosts[blogItem].ToShortTimeString()</updated>
        <id>urn:@Request.Url.Authority/@blogItem.SubFolder</id>
        @foreach (BlogPost blogEntry in Model.BlogEntries[blogItem])
         {   
            <entry>
            <title>@blogEntry.Title</title>
            @Html.Raw("<link>" + Model.Scheme + "://" + Model.Authority + @Utils.GenerateBlogEntryLink(blogItem.SubFolder, blogPost) + "</link>")
            <id>urn:@Request.Url.Scheme://@Request.Url.Authority@Utils.GenerateBlogEntryLink(blogEntry.Blog.SubFolder, blogEntry)</id>
            <author>
                <name>@blogEntry.Author.UserName</name>
            </author>
            <updated>@blogEntry.DatePosted</updated>
            <summary>@blogEntry.ShortEntryText</summary>
            </entry>
        }
    }
</feed>

