@model AlwaysMoveForward.AnotherBlog.Web.Models.Home.IndexModel
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities
@using AlwaysMoveForward.AnotherBlog.Web.Models.BlogModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = AlwaysMoveForward.AnotherBlog.Web.MvcApplication.SiteInfo.Name;
    ViewBag.Description = AlwaysMoveForward.AnotherBlog.Web.MvcApplication.SiteInfo.Name;
    ViewBag.Common = Model.Common;
}
<div class="bodyContent">        
    <div>
        @if (!string.IsNullOrEmpty(Model.Common.ContentTitle))
        {
            <h3>@Model.Common.ContentTitle</h3>
        }
        @if(Model.BlogEntries.Count > 0)
        {
            foreach (BlogPostModel blogPost in Model.BlogEntries)
            {                    
                    <div class="blogEntrySection">
                        <div class="blogTitleSection">
                            <div class="blogTitle">
                                <div class="blogTitleLink">
                                    <a href="@Utils.GenerateBlogEntryLink(blogPost.Post.Blog.SubFolder, blogPost.Post, false)">@blogPost.Post.Title</a> posted in <a href="/@blogPost.Post.Blog.SubFolder/Blog/Index">@blogPost.Post.Blog.Name</a>
                                </div>
                            </div>
                            <div class="blogSubTitle">posted @blogPost.Post.DatePosted.ToShortDateString() by @blogPost.Author.GetDisplayName() | @blogPost.Post.CommentCount comments</div>
                        </div>
                        <div class="blogText">@Html.Raw(@blogPost.Post.ShortEntryText)</div>                  
                    </div>
                <br />
            }
        }
        else
        {
            <div class="blogText">There are no entries for this blog.</div>                  
        }
        <br />
    </div>
</div>
