@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.UserModel
@using AlwaysMoveForward.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminToolLayout.cshtml";
}
 @section headerPlugins
 {
     <script src="@Url.Content("~/Scripts/Admin/ManageUsers.js")" type="text/javascript"></script>

     <script type="text/javascript">
        $(document).ready(function () {
            $("button[name=addButton]").click(function () {
                document.location.href = "/Admin/UserManagement/Edit";
            });
        });
    </script>
}
<div class="bodyContent">        
    <div class="contentPageTitle">
        <H1>Manage Users</H1>
    </div> 
    <button type="button" class="btn btn-primary" name="addButton">Add User</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">User</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (AnotherBlogUser blogUser in @Model.Users)
            {   
                <tr>
                    <td><a href="/Admin/UserManagement/Edit/@blogUser.Id.ToString()">@blogUser.GetDisplayName()</a></td>
                    <td><a href="/Admin/UserManagement/Delete?userId=@blogUser.Id.ToString()"><img src="/Content/images/action_delete.png" class="deleteComment" alt="" /></a></td>
                </tr>
            }
        }
        </tbody>
    </table>
    <div class="pager">    
        @Html.Pager(@Model.Users.PageSize, @Model.Users.PageNumber, @Model.Users.TotalItemCount, "Index", null)
    </div>
    <button type="button" class="btn btn-primary" name="addButton">Add User</button>
</div>