@model AlwaysMoveForward.AnotherBlog.Web.Models.UserModel
@{
    ViewBag.Title = "User Preferences";
    ViewBag.Common = Model.Common;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            plugins: "link",
            selector: 'textarea',
            menubar: "format insert edit",
            toolbar: "alignleft aligncenter alignright alignjustify fontsizeselect bullist numlist outdent indent blockquote undo redo link"
        });
    </script>
    <!-- /TinyMCE -->
}
<div class="bodyContent">        
    <div class="contentPageTitle">
        <label>@Model.Common.ContentTitle</label>
    </div> 
    <div class="editAreaContainer">
        <div class="editAreaSubContainer">
            <br />
                @{
                    var formAction = Model.TargetBlog == null ? "/User/SavePreferences" : $"/{Model.TargetBlog.SubFolder}/User/SavePreferences";
                }
                <form action="@formAction" method="post">
                <table>
                    <tr>
                        <th class="editItemLabel">user name:</th>
                        <td>@Model.CurrentUser.GetDisplayName()</td>
                    </tr>
                    <tr>
                        <th  class="editItemLabel">password:</th>
                        <td><input type="password" id="password" name="password" /></td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">email:</th>
                        <td><input type="text" id="email" name="email" value="" /></td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">display name:</th>
                        <td><input type="text" id="displayName" name="displayName" value="@Model.CurrentUser.GetDisplayName()" /></td>
                    </tr>
                    <tr>
                        <th class="editItemLabel">about:</th>
                        <td><textarea class="textAreaInput" id="userAbout" name="userAbout" cols="2">@Model.CurrentUser.About</textarea></td>
                    </tr>
                </table>
                <input style="margin-left:25%" type="submit" ID="saveButton" value="Save"/>
            </form>
        </div>
    </div>
</div>
