@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.BlogListModel
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Extensions;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;
@{
	Layout = "~/Areas/Admin/Views/Shared/_BlogLayout.cshtml";
	ViewBag.Common = Model.Common;
 }

@section headerPlugins
{
	<script src="/Scripts/Controllers/ManageListsController.js" type="text/javascript"></script>
}
   
@{
	Dictionary<String, String> readonlyAttributes = new Dictionary<string, string>();
	readonlyAttributes.Add("class", "readonly");
	readonlyAttributes.Add("disabled", "true");
	
} 
<form id="changeBlogForm" action="/Admin/ManageLists/Index/">
</form>
<form id="saveForm" action="/Admin/ManageLists/Index/">
	<input type="hidden" id="performSave" name="performSave" value="true" />
</form>
<div class="bodyContent" ng-controller="ManageListsController">        
	<div class="contentPageTitle">
		<label>Manage Lists</label>
	</div> 
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="1%">&nbsp;</th>
				<th width="20%">Name</th>
				<th width="5%">Show Ordered</th>
				<th width="10%">&nbsp;</th>
			</tr>
		</thead>
		<tbody ng-init="getAll('@Model.Common.TargetBlog.SubFolder');">
			<tr ng-repeat="blogList in blogLists">
				<td><input type="radio" name="selectedList" value="{{blogList.Id}}" ng-change="getListItems('{{ blogList.Id }}');" ng-model="blogListElements.selectedList"/></td>
				<td><input type="text" name="blogListName" value="{{ blogList.Name }}" ng-disabled="blogListElements.selectedList!=blogList.Id"/></td>
				<td><input type="checkbox" name="showOrdered" value="{{ blogList.ShowOrdered }}" ng-disabled="blogListElements.selectedList!=blogList.Id"/></td>
				<td>
					<a ng-click="deleteList(blogList.Id, '@Model.Common.TargetBlog.SubFolder');">
						<img src="/Content/images/action_delete.png" class="deleteList" alt=""/>
					</a>
					<button class="btn btn-primary" ng-click="saveList();" ng-show="blogListElements.selectedList==blogList.Id">Save</button>
				</td>
			</tr>
			<tr ng-form="newListForm">
				<td></td>
				<td><input type="text" name="newListName" ng-model="newList.name" required/></td>
				<td><input type="checkbox" name="newListShowOrdered" ng-model="newList.showOrdered" value="false" /></td>                            
				<td><input type="button" class="btn btn-primary"  value="Add List" ng-click="addList('@Model.Common.TargetBlog.SubFolder');" /></td>
			</tr>
		</tbody>
	</table>
	<br />
	<div id="listItemsContainer">
		<div id="listItemsSection" >
			<input type="hidden" name="blogSubFolder" value="@Model.Common.TargetBlog.SubFolder" />
			<input type="hidden" name="blogListId" value="{{ currentList.Id }}" />
			<table class="table table-striped">
				<thead>
					<tr>
						<td width="1%">&nbsp;</td>
						<td width="20%">Name</td>
						<td width="20%">Link</td>
						<td width="5%">Display Order</td>
						<td width="5%">&nbsp;</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="listItem in currentList.Items">
						<td><input type="radio" name="selectedListItem" value="{{listItem.Id}}" ng-model="blogListItemElements.selectedListItem" /></td>
						<td><input type="text" name="listItemName" class="readonly" value="{{ listItem.Name }}" ng-disabled="blogListItemElements.selectedListItem!=listItem.Id" /></td>
						<td><input type="text" name="relatedLink" class="readonly" value="{{listItem.RelatedLink}}" ng-disabled="blogListItemElements.selectedListItem!=listItem.Id" /></td>
						<td><input type="text" name="displayOrder" class="readonly" value="{{listItem.DisplayOrder}}" ng-disabled="blogListItemElements.selectedListItem!=listItem.Id" /></td>
						<td>
							<a ng-click="deleteListItem('@Model.Common.TargetBlog.SubFolder', currentList.Id, listItem.Id);">
								<img src="/Content/images/action_delete.png" class="deleteList" alt="" />
							</a>
							<button type="button" class="btn btn-primary" ng-click="saveListItem();" ng-show="blogListItemElements.selectedListItem==listItem.Id">Save</button>
						</td>
					</tr>
					<tr ng-form="newListItemForm">
						<td></td>
						<td>
							<input type="text" name="listItemName" ng-model="newListItem.listItemName" required />
						</td>
						<td><input type="text" name="relatedLink" ng-model="newListItem.relatedLink" required /></td>
						<td><input type="text" name="displayOrder" ng-model="newListItem.displayOrder" /></td>
						<td><button type="button" class="btn btn-primary" id="saveListItemButton" ng-click="putItem('@Model.Common.TargetBlog.SubFolder', currentList.Id);">Add Item</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>      
</div>


