@using AlwaysMoveForward.AnotherBlog.Common.DomainModel;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Extensions;
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;
@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.ManageBlogModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminToolLayout.cshtml";
    ViewBag.TargetBlog = @Model.Common.TargetBlog;
    ViewBag.UserBlogs = @Model.Common.UserBlogs;
}

@section headerPlugins
{
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            plugins: "link",
            selector: 'textarea',
            menubar: "format insert edit",
            toolbar: "alignleft aligncenter alignright alignjustify fontsizeselect bullist numlist outdent indent blockquote undo redo link"
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#saveButton").click(function () {
                $("#saveForm").submit();
            });
        });
    </script>
}
<div class="bodyContent">
    <div class="panel panel-primary editAreaContainer">
        <div class="panel-header">
            Edit Blog
        </div>
        <div class="panel-body">
            <br />
            <form id="saveForm" action='/Admin/ManageBlog/EditBlog/@Model.Common.TargetBlog.Id' method=" post">
                <input type="hidden" id="savingBlog" name="savingBlog" value="savingBlog" />
                @if (ViewData.ModelState.IsValid == false)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationMessage("blogName")
                        <br />
                        @Html.ValidationMessage("blogDescription")
                        <br />
                        @Html.ValidationMessage("blogDescription")
                        <br />
                    </div>
                }
                <div>
                    <span class="label">name:</span>
                    <input type="text" name="blogName" id="blogName" value="@Model.Common.TargetBlog.Name" />
                </div>
                <div>
                    <span class="label">description:</span>
                    <input type="text" name="blogDescription" id="blogDescription" value="@Model.Common.TargetBlog.Description" />
                </div>
                <div>
                    <span class="label">subfolder:</span>
                    <input type="text" name="targetSubFolder" id="targetSubFolder" value="@Model.Common.TargetBlog.SubFolder" />
                </div>
                <div>
                    <span class="label">theme:</span>
                    <select id="blogTheme" name="blogTheme">
                        @foreach (string themeDirectory in Utils.GetThemeDirectories())
                        {
                            <option id="@themeDirectory" name="@themeDirectory" value="@themeDirectory" @if (themeDirectory == Model.Common.TargetBlog.Theme) { <text> selected </text>   }>@themeDirectory</option>
                        }
                    </select>
                </div>
                <div>
                    <span class="label">welcome:</span>
                    <input type="text" name="blogWelcome" id="blogWelcome" value="@Model.Common.TargetBlog.WelcomeMessage" />
                </div>
                <div>
                    <span class="label" valign="top">about:</span>
                    <textarea name="blogAbout" id="blogAbout">@Model.Common.TargetBlog.About</textarea>
                </div>
                <br />
                <button type="button" id="saveButton" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>